<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.db.policylib">

    <application>
        <activity
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent" />
    </application>
</manifest>
